@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
	font-family: "AkzidenzGrotesk";
	src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
	src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"),
		url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"),
		url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Bebas";
	src: url("../fonts/BebasNeue Regular.eot");
	src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"),
		url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "PT Sans";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "PT Sans";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 880px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 892px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.btn {
	display: inline-block;
	height: 50px;
	padding: 0px 33px;
	background-color: #000000;
	color: #ffffff;
	font-family: "Bebas";
	font-size: 15px;
	line-height: 53px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.btn--w {
	background-color: #ffffff;
	color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
.input.focus {
	border: 2px solid #e0e0e0 !important;
}
.input.err {
	border: 2px solid red !important;
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}
.nicescroll-rails {
	z-index: 1000 !important;
}
.gm-style-iw-t {
	opacity: 0;
}

.header {
	padding: 29px 0px 33px 0px;
	background-color: #ffffff;
}
@media (max-width: 767.98px) {
	.header {
		padding: 15px 0px 15px 0px;
	}
}

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header-top__link {
	color: #000000;
	font-family: "AkzidenzGrotesk";
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: underline;
	position: relative;
	z-index: 11;
}
@media (max-width: 479.98px) {
	.header-top__link {
		font-size: 10px;
	}
}
@media (max-width: 767.98px) {
	.header-top {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding-top: 15px;
	}
}

.header-top-lang {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.header-top-lang__item {
	display: block;
	color: #000000;
	font-family: Bebas;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 1px;
	text-decoration: underline;
	margin-right: 10px;
	padding: 2px 3px 3px 4px;
	height: 19px;
	text-align: center;
}
.header-top-lang__item:last-child {
	margin-right: 0;
}
.header-top-lang__item:active,
.header-top-lang__item.active {
	color: #fbfbfb;
	text-decoration: none;
	background-color: #000000;
}
@media (max-width: 767.98px) {
	.header-top-lang {
		margin: 40px 0px 20px 0px;
	}
}

.header-bottom {
	margin: -15px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-bottom__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333%;
	flex: 0 0 33.333%;
}
@media (max-width: 767.98px) {
	.header-bottom {
		margin-top: -40px;
	}
}
@media (max-width: 479.98px) {
	.header-bottom {
		margin-top: -30px;
	}
}

@media (max-width: 767.98px) {
	.header-bottom-menu li {
		margin-bottom: 10px;
	}
}
.header-bottom-menu__link {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header-bottom-menu__link:hover {
	color: #444444;
}

.header-bottom-menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media (max-width: 767.98px) {
	.header-bottom-menu-list {
		display: block;
	}
}

.header-bottom-menu__link {
	color: #000000;
	font-family: "AkzidenzGrotesk";
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.header-logo {
	display: block;
	text-align: center;
	position: relative;
	z-index: 11;
}
.header-logo__text {
	display: block;
	color: #000000;
	font-family: Bebas;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 8px;
}
.header-logo__image {
	margin: 13px 0px 22px 0px;
	display: inline-block;
}
@media (max-width: 767.98px) {
	.header-logo__image img {
		max-width: 120px;
	}
	.header-logo__image {
		margin: 3px 0px 10px 0px;
	}
	.header-logo__text {
		font-size: 8px;
	}
}
@media (max-width: 479.98px) {
	.header-logo__image img {
		max-width: 90px;
	}
	.header-logo__image {
		margin: 0px 0px 5px 0px;
	}
	.header-logo__text {
		font-size: 6px;
		letter-spacing: 4px;
	}
}

.icon-menu {
	display: none;
}

/* Стиль иконки бургера */
@media (max-width: 767.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 35px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}

	.header-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: -120%;
		top: 0;
		background-color: #ffffff;
		padding: 35px 10px 1px 10px;
		z-index: 4;
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	.header-menu.active {
		left: 0;
	}
}
@media (max-width: 479.98px) {
	.icon-menu {
		top: 33px;
	}
}
.block-private {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	background-color: #000000;
}
.block-private__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}
@media (max-width: 767.98px) {
	.block-private__column {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}
	.block-private__column:first-child {
		display: none;
	}
}
.block-private__image {
	height: 100%;
}
.block-private .block-private-body-container {
	max-width: 305px;
}
.block-private .block-private-body {
	padding: 75px 20px 75px 60px;
}
.block-private .block-private-body__title {
	color: #ffffff;
	font-family: "AkzidenzGrotesk";
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0px 0px 30px 0px;
}
@media (max-width: 892px) {
	.block-private .block-private-body__title {
		margin: 0px 0px 20px 0px;
		font-size: 35px;
		max-width: 200px;
	}
}
.block-private .block-private-body__text {
	color: #9f9f9f;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
	margin: 0px 0px 50px 0px;
}
@media (max-width: 892px) {
	.block-private .block-private-body__text {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 892px) {
	.block-private .block-private-body {
		padding: 30px 20px 30px 30px;
	}
}
.block-private .block-private-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.block-private .block-private-links__link {
	color: #fffffe;
	font-family: "Bebas";
	font-size: 15px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin: 0px 0px 0px 14px;
}

.block-cart {
	width: 100%;
	background-color: #fff;
	padding: 75px 0px 75px 0px;
}
@media (max-width: 892px) {
	.block-cart {
		padding: 75px 0px 0px 0px;
	}
}
.block-cart .block-cart-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media (max-width: 479.98px) {
	.block-cart .block-cart-row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
.block-cart .block-cart-main-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}
@media (max-width: 892px) {
	.block-cart .block-cart-main-column {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
	}
}
.block-cart .block-cart-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media (max-width: 892px) {
	.block-cart .block-cart-column {
		margin: 0px 0px 50px 0px;
	}
}
.block-cart .block-cart-column__image {
	cursor: pointer;
	width: 220px;
	height: 225px;
}
.block-cart .block-cart-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 190px;
	padding: 25px 0px 0px 5px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.block-cart .block-cart-body__title {
	cursor: pointer;
	color: #000000;
	font-family: "AkzidenzGrotesk";
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	padding: 0px 1px 35px 0px;
}
.block-cart .block-cart-body__text {
	color: #000000;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
@media (max-width: 479.98px) {
	.block-cart .block-cart-body__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
}
.block-cart .block-cart-body__btn {
	margin: 33px 0px 0px 0px;
	cursor: pointer;
	display: inline;
	max-width: 75%;
}
.block-cart .block-cart-body__link {
	cursor: pointer;
	padding: 25px 0px 0px 0px;
	color: #000000;
	font-family: "Bebas";
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.block-why {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.block-why__column {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding: 57px 0px;
	background-color: #000;
}
@media (max-width: 479.98px) {
	.block-why__column {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}
	.block-why__column:last-child {
		display: none;
	}
}
.block-why__title {
	display: inline-block;
	color: #ffffff;
	font-family: "AkzidenzGrotesk";
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 400px;
	margin: 0px 35px 0px 0px;
}
@media (max-width: 892px) {
	.block-why__title {
		font-size: 35px;
		width: auto;
		margin: 0px 20px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.block-why__title {
		font-size: 23px;
		margin: 0px 15px 0px 15px;
	}
}
.block-why .col-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
@media (max-width: 479.98px) {
	.block-why .col-left {
		font-size: 35px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.block-description {
	width: 100%;
	background-color: #ebebeb;
	padding: 50px 0 50px 0;
}
@media (min-width: 767.98px) {
	.block-description {
		padding: 50px 0 0 0;
	}
}
.block-description__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
@media (max-width: 767.98px) {
	.block-description__column {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.block-description__items {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
	.block-description__items {
		width: 478px;
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 479.98px) {
	.block-description__items {
		width: auto;
	}
}
.block-description__items.items--bottom {
	margin: 0px 0px 0px 0px;
}
.block-description .block-description-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.block-description .block-description-content__image {
	width: 110px;
}
.block-description .block-description-content__image img {
	width: 100%;
}
.block-description .block-description-content__body {
	width: 100%;
	padding: 0px 10px 0px 10px;
}
.block-description .block-description-content__title {
	color: #000000;
	font-family: "AkzidenzGrotesk";
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	padding: 0px 0px 15px 0px;
}
@media (max-width: 991.98px) {
	.block-description .block-description-content__title {
		font-size: 22px;
	}
}
.block-description .block-description-content__text {
	color: #000000;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
@media (max-width: 991.98px) {
	.block-description .block-description-content__text {
		font-size: 13px;
	}
}

.block-contact {
	background-color: #fff;
	padding: 82px 0px 25px 0px;
}
.block-contact__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 767.98px) {
	.block-contact__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.block-contact__column {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 767.98px) {
	.block-contact__column {
		width: 276px;
	}
}
.block-contact__body {
	width: 100%;
}
.block-contact__title {
	color: #000000;
	font-family: "AkzidenzGrotesk";
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
@media (max-width: 767.98px) {
	.block-contact__title {
		text-align: center;
	}
}
.block-contact__texts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 35px 0px 0px 0px;
}
.block-contact__icon {
	margin: 0px 6px 0px 0px;
}
.block-contact__text {
	color: #000000;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
.block-contact__buttons {
	margin: 35px 0px 0px 0px;
}
@media (max-width: 767.98px) {
	.block-contact__buttons {
		text-align: center;
	}
}
.block-contact__btn {
	margin: 0px 30px 0px 0px;
	width: 24px;
	height: 24px;
}
.block-contact__btn:last-child {
	margin: 0px 0px 0px 0px;
}

.block-formmap {
	background-color: #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
@media (max-width: 767.98px) {
	.block-formmap {
		display: block;
	}
}
.block-formmap__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}
.block-formmap__column.column--right {
	padding: 50px 0px 50px 0px;
}
@media (max-width: 767.98px) {
	.block-formmap__column.column--right {
		text-align: center;
	}
}
.block-formmap__map {
	height: 100%;
}
@media (max-width: 767.98px) {
	.block-formmap__map {
		height: 350px;
	}
}
.block-formmap .block-formmap-form {
	padding: 0px 0px 0px 60px;
	width: 434px;
}
.block-formmap .block-formmap-form__title {
	color: #ffffff;
	font-family: "AkzidenzGrotesk";
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	padding: 0px 0px 25px 0px;
}
@media (max-width: 991.98px) {
	.block-formmap .block-formmap-form {
		padding: 0px 0px 0px 20px;
		width: 350px;
	}
}
@media (max-width: 767.98px) {
	.block-formmap .block-formmap-form {
		padding: 0px 0px 0px 0px;
		margin: 0 auto;
	}
}
@media (max-width: 479.98px) {
	.block-formmap .block-formmap-form {
		width: 100%;
		padding: 0px 20px 0px 20px;
	}
}
.block-formmap .block-formmap-form-line {
	margin: 0px 0px 25px 0px;
}
.block-formmap .input {
	color: #959595;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
	height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
}
.block-formmap .textarea {
	color: #959595;
	font-family: "PT Sans";
	padding: 10px 19px;
	font-size: 15px;
	line-height: 25px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
	border: 2px solid #959595;
	background-color: #252525;
}
.footer {
	padding: 35px 0px 35px 0px;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width: 479.98px) {
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.footer__text {
	width: 100%;
	color: #4d4d4d;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
.footer__text a {
	color: #4d4d4d;
	text-decoration: underline;
}
@media (max-width: 479.98px) {
	.footer__text {
		text-align: center;
	}
}
.footer__logo img {
	width: 100%;
}
@media (max-width: 479.98px) {
	.footer__logo {
		width: 100px;
		margin: 10px 0px 0px 0px;
	}
}
