//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//	anim(время анимации, время задержки)
//	anim_cubic(время анимации, время задержки)
//	animate(имя анимации, время анимации, infinite, тип анимации)
//	rotate(угол наклона)
//	scale(размер увеличения)
//	skew(угол искажения блока)
//	cnt(высота блока) - flex колонки с выравниванием по центру
//	tr(x,y,z) - translate3d
//	flexbox() - display: flex
//	flexboxinline() - display: inline-flex
//	flexorder(порядковый номер)
//	@include anim(0.8s,0s); -пример подключения
//</МИКСИНЫ >===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
	font-family: "AkzidenzGrotesk";
	src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
	src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"),
		url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"),
		url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Bebas";
	src: url("../fonts/BebasNeue Regular.eot");
	src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"),
		url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "PT Sans";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px; //минимальная ширина iphone 5
$mw: 880; //ширина контентной части
$md1: $mw + 12; //первый брэкпоинт (ширина контентной части + 12px)
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.content {
}
.block-private {
	@include flexbox();
	background-color: #000000;
	&__column {
		flex: 0 0 50%;
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			&:first-child {
				display: none;
			}
		}
	}
	&__image {
		height: 100%;
	}
	.block-private-body-container {
		max-width: 305px;
	}
	.block-private-body {
		padding: 75px 20px 75px 60px;
		&__title {
			color: #ffffff;
			font-family: "AkzidenzGrotesk";
			font-size: 50px;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin: 0px 0px 30px 0px;
			@media (max-width: $md1+px) {
				margin: 0px 0px 20px 0px;
				font-size: 35px;
				max-width: 200px;
			}
		}
		&__text {
			color: #9f9f9f;
			font-family: "PT Sans";
			font-size: 15px;
			line-height: 25px;
			margin: 0px 0px 50px 0px;
			@media (max-width: $md1+px) {
				margin: 0px 0px 30px 0px;
			}
		}
		@media (max-width: $md1+px) {
			padding: 30px 20px 30px 30px;
		}
	}
	.block-private-links {
		@include flexbox();
		align-items: center;
		&__link {
			color: #fffffe;
			font-family: "Bebas";
			font-size: 15px;
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin: 0px 0px 0px 14px;
		}
	}
}
.block-cart {
	width: 100%;
	background-color: #fff;
	padding: 75px 0px 75px 0px;
	@media (max-width: $md1+px) {
		padding: 75px 0px 0px 0px;
	}
	.block-cart-row {
		@include flexbox();
		justify-content: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
		}
	}
	.block-cart-main-column {
		@include flexbox();
		flex-direction: row;
		flex: 1 1 100%;
		@media (max-width: $md1+px) {
			flex-wrap: wrap;
			justify-content: center;
			flex: 1 1 50%;
		}
	}
	.block-cart-column {
		@include flexbox();
		flex-direction: column;
		@media (max-width: $md1+px) {
			margin: 0px 0px 50px 0px;
		}
		&__image {
			cursor: pointer;
			width: 220px;
			height: 225px;
		}
	}
	.block-cart-body {
		@include flexbox();
		flex-direction: column;
		max-width: 190px;
		padding: 25px 0px 0px 5px;
		flex: 1 1 auto;
		&__title {
			cursor: pointer;
			color: #000000;
			font-family: "AkzidenzGrotesk";
			font-size: 25px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			padding: 0px 1px 35px 0px;
		}
		&__text {
			color: #000000;
			flex: 1 1 auto;
			font-family: "PT Sans";
			font-size: 15px;
			line-height: 25px;
			@media (max-width: $md4+px) {
				flex: 0 0 auto;
			}
		}
		&__btn {
			margin: 33px 0px 0px 0px;
			cursor: pointer;
			display: inline;
			max-width: 75%;
		}
		&__link {
			cursor: pointer;
			padding: 25px 0px 0px 0px;
			color: #000000;
			font-family: "Bebas";
			font-size: 15px;
			line-height: 25px;
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
	}
}
.block-why {
	@include flexbox();
	&__column {
		flex: 1 1 50%;
		padding: 57px 0px;
		background-color: #000;
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			&:last-child {
				display: none;
			}
		}
	}
	&__title {
		display: inline-block;
		color: #ffffff;
		font-family: "AkzidenzGrotesk";
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		width: 400px;
		margin: 0px 35px 0px 0px;
		@media (max-width: $md1+px) {
			font-size: 35px;
			width: auto;
			margin: 0px 20px 0px 0px;
		}
		@media (max-width: $md3+px) {
			font-size: 23px;
			margin: 0px 15px 0px 15px;
		}
	}
	.col-left {
		@include flexbox();
		justify-content: flex-end;
		@media (max-width: $md4+px) {
			font-size: 35px;
			justify-content: center;
		}
	}
}
.block-description {
	width: 100%;
	background-color: #ebebeb;
	padding: 50px 0 50px 0;
	@media (min-width: $md3+px) {
		padding: 50px 0 0 0;
	}
	&__row {
	}

	&__column {
		@include flexbox();
		flex-direction: row;
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__items {
		flex: 1 1 50%;
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			width: 478px;
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $md4+px) {
			width: auto;
		}
		&.items--bottom {
			margin: 0px 0px 0px 0px;
		}
	}

	.block-description-content {
		@include flexbox();
		flex-direction: row;

		&__image {
			width: 110px;
			img {
				width: 100%;
			}
		}

		&__body {
			width: 100%;
			padding: 0px 10px 0px 10px;
		}

		&__title {
			color: #000000;
			font-family: "AkzidenzGrotesk";
			font-size: 25px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			padding: 0px 0px 15px 0px;
			@media (max-width: $md2+px) {
				font-size: 22px;
			}
		}

		&__text {
			color: #000000;
			font-family: "PT Sans";
			font-size: 15px;
			line-height: 25px;
			@media (max-width: $md2+px) {
				font-size: 13px;
			}
		}
	}
}
.block-contact {
	background-color: #fff;
	padding: 82px 0px 25px 0px;
	&__row {
		@include flexbox();
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__column {
		flex: 1 1 50%;
		@include flexbox();
		@media (max-width: $md3+px) {
			width: 276px;
		}
	}

	&__body {
		width: 100%;
	}

	&__title {
		color: #000000;
		font-family: "AkzidenzGrotesk";
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__texts {
		@include flexbox();
		align-items: center;
		margin: 35px 0px 0px 0px;
	}

	&__icon {
		margin: 0px 6px 0px 0px;
	}

	&__text {
		color: #000000;
		font-family: "PT Sans";
		font-size: 15px;
		line-height: 25px;
	}

	&__buttons {
		margin: 35px 0px 0px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__btn {
		margin: 0px 30px 0px 0px;
		width: 24px;
		height: 24px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
.block-formmap {
	background-color: #000000;
	@include flexbox();
	flex-direction: row;
	@media (max-width: $md3+px) {
		display: block;
	}
	&__column {
		flex: 0 0 50%;
		&.column--right {
			padding: 50px 0px 50px 0px;
			@media (max-width: $md3+px) {
				text-align: center;
			}
		}
	}

	&__map {
		height: 100%;
		@media (max-width: $md3+px) {
			height: 350px;
		}
	}

	.block-formmap-form {
		padding: 0px 0px 0px 60px;
		width: 434px;
		&__title {
			color: #ffffff;
			font-family: "AkzidenzGrotesk";
			font-size: 25px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			padding: 0px 0px 25px 0px;
		}
		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 20px;
			width: 350px;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 0px;
			margin: 0 auto;
		}
		@media (max-width: $md4+px) {
			width: 100%;
			padding: 0px 20px 0px 20px;
		}
	}
	.block-formmap-form-body {
	}
	.block-formmap-form-line {
		margin: 0px 0px 25px 0px;
	}
	.input {
		color: #959595;
		font-family: "PT Sans";
		font-size: 15px;
		line-height: 25px;
		height: 50px;
		border: 2px solid #959595;
		background-color: #252525;
	}
	.textarea {
		color: #959595;
		font-family: "PT Sans";
		padding: 10px 19px;
		font-size: 15px;
		line-height: 25px;
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 300px;
		border: 2px solid #959595;
		background-color: #252525;
	}
	.block-formmap-form-button {
	}
	.form {
		&__btn {
		}
	}
}
.footer {
	padding: 35px 0px 35px 0px;
	&__row {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__text {
		width: 100%;
		color: #4d4d4d;
		font-family: "PT Sans";
		font-size: 15px;
		line-height: 25px;
		a {
			color: #4d4d4d;
			text-decoration: underline;
		}
		@media (max-width: $md4+px) {
			text-align: center;
		}
	}
	&__logo {
		img {
			width: 100%;
		}
		@media (max-width: $md4+px) {
			width: 100px;
			margin: 10px 0px 0px 0px;
		}
	}
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
